In [3]:
import numpy as np
import pandas as pd

In [8]:
se = pd.Series([1,2,np.nan,4])
se.isna()
print(se)

0    1.0
1    2.0
2    NaN
3    4.0
dtype: float64

In [9]:
data = [1,2,np.nan, 4]
indexed_se = pd.Series(data, index = ['a', 'b', 'c', 'd'])
print(indexed_se)

a    1.0
b    2.0
c    NaN
d    4.0
dtype: float64

In [10]:
income = {"1월":1000, '2월':2000,'3월': 3000}
a = pd.Series(income)
print(a)

1월    1000
2월    2000
3월    3000
dtype: int64

In [12]:
keys = ['a', 'b', 'c']
values = [10,20,30]

mydict = dict(zip(keys, values))
print(mydict)

{'a': 10, 'b': 20, 'c': 30}

In [14]:
month = pd.Series(['1월', '2월', '3월', '4월'])
income_se = pd.Series([9500, 6200, 6050, 7000])
expense_se = pd.Series([5040, 2350, 2300, 4800])
df = pd.DataFrame({"월" : month, "수입": income_se, '지출': expense_se})
print(df)

    월    수입    지출
0  1월  9500  5040
1  2월  6200  2350
2  3월  6050  2300
3  4월  7000  4800

In [15]:
print(np.argmax(income_se))

0

In [16]:
print(income_se[0])
print(month[0])

9500
1월

In [18]:
print(f"동윤이네 수입 합계는:{sum(df['수입'])}")
print(f"동윤이네 지출 합계는:{sum(df['지출'])}")

동윤이네 수입 합계는:28750
동윤이네 지출 합계는:14490

In [4]:
file = 'https://github.com/dongupak/DataML/raw/main/csv/vehicle_prod.csv'
df = pd.read_csv(file, index_col=0)
print(df)

         2007   2008   2009   2010   2011
China    7.71   7.95  11.96  15.84  16.33
EU      19.02  17.71  15.00  16.70  17.48
US      10.47   8.45   5.58   7.60   8.40
Japan   10.87  10.83   7.55   9.09   7.88
Korea    4.04   3.78   3.45   4.20   4.62
Mexico   2.01   2.05   1.50   2.25   2.54

In [37]:
file = 'https://github.com/dongupak/DataML/raw/main/csv/vehicle_prod.csv'
df = pd.read_csv(file)

In [29]:
column_list = df.columns.to_list()
print(column_list)
print()

['Unnamed: 0', '2007', '2008', '2009', '2010', '2011']

In [43]:
df['total'] = df.sum(axis=1)
print(df)

         2007   2008   2009   2010   2011   total
China    7.71   7.95  11.96  15.84  16.33  119.58
EU      19.02  17.71  15.00  16.70  17.48  171.82
US      10.47   8.45   5.58   7.60   8.40   81.00
Japan   10.87  10.83   7.55   9.09   7.88   92.44
Korea    4.04   3.78   3.45   4.20   4.62   40.18
Mexico   2.01   2.05   1.50   2.25   2.54   20.70

In [47]:
df.loc['Total'] = [df['2007'].sum(),df['2008'].sum(),df['2009'].sum(),df['2010'].sum(),df['2011'].sum()]

ValueError: cannot set a row with mismatched columns

In [52]:
file = 'https://github.com/dongupak/DataML/raw/main/csv/vehicle_prod.csv'
df = pd.read_csv(file, index_col=0)
df.loc['Total'] = [df['2007'].sum(),df['2008'].sum(),df['2009'].sum(),df['2010'].sum(),df['2011'].sum()]
print(df)

         2007   2008   2009   2010   2011
China    7.71   7.95  11.96  15.84  16.33
EU      19.02  17.71  15.00  16.70  17.48
US      10.47   8.45   5.58   7.60   8.40
Japan   10.87  10.83   7.55   9.09   7.88
Korea    4.04   3.78   3.45   4.20   4.62
Mexico   2.01   2.05   1.50   2.25   2.54
Total   54.12  50.77  45.04  55.68  57.25

In [21]:
# df.iloc['Total'] = df.loc[df.indexs.tolist()].sum()
df.loc['total']= df.loc[df.index.to_list()].sum()
df['Total'] = df.sum(axis=1)
df

          2007    2008    2009    2010    2011   Total
China     7.71    7.95   11.96   15.84   16.33   59.79
EU       19.02   17.71   15.00   16.70   17.48   85.91
US       10.47    8.45    5.58    7.60    8.40   40.50
Japan    10.87   10.83    7.55    9.09    7.88   46.22
Korea     4.04    3.78    3.45    4.20    4.62   20.09
Mexico    2.01    2.05    1.50    2.25    2.54   10.35
total   162.36  152.31  135.12  167.04  171.75  788.58

In [23]:
df.loc[4,2]

KeyError: 2

In [26]:
import pandas as pd
import numpy as np
weather = pd.read_csv('https://github.com/dongupak/DataML/raw/main/csv/weather.csv',index_col=0, encoding='CP949')
weather

            평균기온  최대풍속  평균풍속
일시
2010-08-01  28.7   8.3   3.4
2010-08-02  25.2   8.7   3.8
2010-08-03  22.1   6.3   2.9
2010-08-04  25.3   6.6   4.2
2010-08-05  27.2   9.1   5.6
...          ...   ...   ...
2020-07-27  22.1   4.2   1.7
2020-07-28  21.9   4.5   1.6
2020-07-29  21.6   3.2   1.0
2020-07-30  22.9   9.7   2.4
2020-07-31  25.7   4.8   2.5

[3653 rows x 3 columns]

In [27]:
weather.head()

            평균기온  최대풍속  평균풍속
일시
2010-08-01  28.7   8.3   3.4
2010-08-02  25.2   8.7   3.8
2010-08-03  22.1   6.3   2.9
2010-08-04  25.3   6.6   4.2
2010-08-05  27.2   9.1   5.6

In [28]:
weather.tail()

            평균기온  최대풍속  평균풍속
일시
2020-07-27  22.1   4.2   1.7
2020-07-28  21.9   4.5   1.6
2020-07-29  21.6   3.2   1.0
2020-07-30  22.9   9.7   2.4
2020-07-31  25.7   4.8   2.5

In [29]:
print(weather.describe())

              평균기온         최대풍속         평균풍속
count  3653.000000  3649.000000  3647.000000
mean     12.942102     7.911099     3.936441
std       8.538507     3.029862     1.888473
min      -9.000000     2.000000     0.200000
25%       5.400000     5.700000     2.500000
50%      13.800000     7.600000     3.600000
75%      20.100000     9.700000     5.000000
max      31.300000    26.000000    14.900000

In [31]:
weather.isna().count()

평균기온    3653
최대풍속    3653
평균풍속    3653
dtype: int64

In [32]:
weather[weather['평균풍속'].isna()]

            평균기온  최대풍속  평균풍속
일시
2012-02-11  -0.7   NaN   NaN
2012-02-12   0.4   NaN   NaN
2012-02-13   4.0   NaN   NaN
2015-03-22  10.1  11.6   NaN
2015-04-01   7.3  12.1   NaN
2019-04-18  15.7  11.7   NaN

In [34]:
weather[weather['평균기온']>0].min()

평균기온    0.1
최대풍속    2.0
평균풍속    0.2
dtype: float64

In [36]:
weather[weather['평균기온']==weather['평균기온'].max()]

            평균기온  최대풍속  평균풍속
일시
2013-08-08  31.3   7.8   4.6